<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    
    <authentication defaultProvider="forms"
                set:defaultProvider="fixedforms">
      <providers>
        <add name="fixedforms" type="Sitecore.Support.Security.Authentication.FormsAuthenticationProvider, Sitecore.Support.107294" />
      </providers>
    </authentication>

  </sitecore>
</configuration>